@import './variables.css';

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

.logo-censo{
    width: 250px;
}

.btn-session{
    background-color: var(--primary);
    color: var(--light-contrast);
    width: 100%;
}

.btn-session:hover{
    background-color: var(--secondary);
    color: var(--light-contrast);
}
    
@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}